/*media query start*/
@media (max-width:768px){
    .left-menu{
        height: auto;
        position:inherit;
    }
    .side-bar-display{
        display: none;
    }
}

@media (min-width:768px){
    .list-side-menu{
        display:none !important;
    }
}

/*media query end*/

/*main left bar start*/

.left-menu{
    background-color: #222d31;
    border-right:none;
    border-color:#222d31 !important;
    color:#FFFFFF !important;

}

.left-menu-div{
    background-color: #222d31 !important;
    border-right:1px solid #b3b1a5;
    height:100vh;
    margin-top:10px;
    padding-left:0;
    padding-right: 0px;
    position:fixed;
}

.left-menu:hover{
    background-color: #2c3b42 !important;
    border-right:none;
    color: #89a3a4 !important;
}


.left-menu-active{
    background-color: #2c3b42;
    color: #89a3a4 !important;
}
.icon-bar{
    margin-right:10px;
}
/*main left bar end*/