body{
    background:url("../images/12.jpg") no-repeat;
    background-size: cover;
    height:100%;
    background-color:#dedede;
    /*background-repeat: repeat;*/
}

#login-box{
    background-color:#ffffff;
    padding:20px 20px;
    border-radius:10px;
    margin-top:10%;
    opacity:0.9 !important;
    /*border:1px solid #000;*/
    /*border:2px solid #dedede;*/
}

.logo{
    text-align: right;
    height:55px;
    width:50px;
}

.login-heading{
    color:rebeccapurple;
}

.colorgraph {
    margin-top:70px;
    height: 5px;
    border-top: 0;
    background: #c4e17f;
    border-radius: 5px;
    background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #e3e3e3 12.5%, #e3e3e3 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #e3e3e3 12.5%, #e3e3e3 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #e3e3e3 12.5%, #e3e3e3 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #e3e3e3 12.5%, #e3e3e3 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

/*start media*/
@media (max-width:768px){
    .max-head-login{
        display: none !important;
    }
}

@media (min-width:768px){
    .mini-head-login{
        display: none !important;
    }
}
/*end media*/