.main-box-1-1{
    height:110px;
    background-color: #00c0ef;
    color: #FFFFFF;

}
.main-box-1-2{
    height:30px;
    background-color:#05aad7;
    color: #FFFFFF;
}

.main-box-2-1{
    height:110px;
    background-color: #00a65a;
    color: #FFFFFF;

}
.main-box-2-2{
    height:30px;
    background-color:#029551;
    color: #FFFFFF;
}

.main-box-3-1{
    height:110px;
    background-color: #f39c11;
    color: #FFFFFF;

}
.main-box-3-2{
    height:30px;
    background-color:#df8c0a;
    color: #FFFFFF;
}

.main-box-4-1{
    height:110px;
    background-color: #dd4c39;
    color: #FFFFFF;

}
.main-box-4-2{
    height:30px;
    background-color:#c74432;
    color: #FFFFFF;
}

.padding-box{
    padding-left:20px;
    padding-right:20px;
    margin-top:20px;
}

.box-count{
    font-family:Calibri;
}
.box-head{
    font-family:Calibri;
    margin-top:20px;
}
.box-icon{
    font-size:30px;
    text-align: center;
    margin-top:20px;
    color: #f8f8f8;
}
.more-info{
    text-align:center;
    margin-top:5px;
}

.nortification-box-top{
    background-color:#2c3b42;
    height:30px;
    padding-left:20px !important;
}
.nortification-box-middle{
    height:300px;
    color: #000;
    border:1px solid #2c3b42;
}
.nortification-box-heading{
    color: #FFFFFF;
    font-family:Calibri;
    margin-top:7px;
}
.icon-margin-right{
    margin-right:5px;
}
.box-item{
    padding-left:10px;
    margin-top:10px !important;
}

/*department start*/
.border-right{
    border-right:1px solid #2c3b42;
    height:500px;
}
/*department end*/