body{

    background-color: #eceff4;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

form{

    width: 400px;
    background-color: #ffffff;
    height: 240px;
    padding: 10px;
}
form ul{

    list-style-type: none;
}
form ul li{

    margin: 10px 0;
}
form label{

    display: inline;
    font-size: 1em;
    width: 25%;
}

form input{


    display: inline;

    font-size: 15px;
    padding: 5px;
    border: #888888 1px ;
    border-style: inset;
    width: 70%;
    border-radius: 5px;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    border: 1px solid #000000;



}
.table{

    border: 1px solid #000000;
}