/*media query start*/
@media(max-width:768px){
  .heding{
    display: None;
  }
  .nav-image {
    display: none;
  }
  .nav-top{
    margin-top:0px !important;
  }
}

@media(min-width:768px){
  .heding-min {
    display: none;
  }
}
/*media query end*/

.nortification-button{
  padding:0 !important;
  border-radius:100%;
  width:44px;
  height:44px;
  margin-left:10px;
}

.heding-min{
  margin-top:-15px;
  margin-left:10px;
}

.navbar-static-top {
  margin-bottom: 19px;
}

.nav-top{
  margin-top:-40px;
}

.nav-image{
  height:30px;
  width:30px;
  margin-top:10px;
  position:relative;
  z-index:1001;
}

.head-nav{
  color: #FFFFFF !important;
  border-bottom:#FFFFFF !important;
}

.nav-bar-custom{
  background-color:#FFFFFF;
  color: #7e7e7e !important;
  border-bottom-color:transparent;
}
.font{
  color: #FFFFFF !important;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover{
    background-color: #f4f4f4 !important;
}

.navbar-inverse .navbar-toggle:hover{
    background-color:#FFFFFF !important ;
    color:#7e7e7e ;
  }

.navbar-inverse .navbar-toggle{
  padding-left:12px !important;
  padding-right:2px !important;
}

.navbar-inverse .navbar-nav > li > a {
  color: #7e7e7e !important;
}

.navbar-inverse .navbar-nav > li :hover {
  background-color: #FFFFFF !important;
  color: #89a3a4 !important;
}

.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
  color: #7e7e7e !important;
}

.navbar-inverse .navbar-nav .open .dropdown-menu > li :hover {
  background-color: #f4f4f4 !important;
  color: #89a3a4 !important;
}

.dropdown-menu-admin{
  background-color: #FFFFFF !important;
}


.image-user{
  height:30px;
  width:30px;
  margin-top:-7px;
  margin-right:10px;
  margin-bottom:-5px;
}

.image-user-nav{
  height:40px;
  width:40px;
  margin-top:-7px;
  margin-right:20px;
  margin-bottom:-5px;

}

.postition-alert{
  margin-top:-90px;
  margin-left:30px;
  background-color:#07C404;
}

.postition-message{
  margin-top:-90px;
  margin-left:30px;
  background-color:#FF1717;
}

.postition-remind{
  margin-top:-90px;
  margin-left:30px;
  background-color:#FF8717;
}

@media(max-width:678px){
  .nortifications{
    display:none !important;
  }
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #d5d5d5;
  margin-top:-13px;
  margin-left:22px;
}